<?xml version="1.0"?>
<config>
	<modules>
		<Mipay_BasicPayment>
			<version>0.1.0</version>
		</Mipay_BasicPayment>
	</modules>
	
	<global>
		<helpers>
			<mipay_basicpayment>
				<class>Mipay_BasicPayment_Helper</class>
			</mipay_basicpayment>
		</helpers>
		
		<blocks>
			<mipay_basicpayment>
				<class>Mipay_BasicPayment_Block</class>
			</mipay_basicpayment>
		</blocks>
		
		<models>
			<mipay_basicpayment>
				<class>Mipay_BasicPayment_Model</class>
			</mipay_basicpayment>
		</models>
		
		<!-- Tell magento what data to copy from the quote payment object to the order payment object >
		<fieldsets>
			<sales_convert_quote_payment>
				<check_no>
					<to_order_payment>*</to_order_payment>
				</check_no>
				<check_date>
					<to_order_payment>*</to_order_payment>
				</check_date>
			</sales_convert_quote_payment>
		</fieldsets-->
		
		<!-- Create our columns in the sales_flat_order_payment table here -->
		<resources>
			<mipay_basicpayment_setup>
				<setup>
					<module>Mipay_BasicPayment</module>
				</setup>
			</mipay_basicpayment_setup>
		</resources>
	</global>
	
	<default>
		<payment>
			<mipay_pay>
				<!-- used in determining whether to display the payment type -->
				<active>1</active>
				<title>Omipay(支付宝)</title>
				<order_status>pending</order_status>
				<!-- the model which gets instantiated for this payment type -->
				<model>mipay_basicpayment/payment</model>
				<allowspecific>0</allowspecific>
				<payment_action>sale</payment_action>
				<sort_order>1</sort_order>
				<!-- Only show this order type for orders with the values between the following -->
				<min_order_total>1</min_order_total>
				<max_order_total>6000</max_order_total>
				<message>欢迎使用Omipay(支付宝)!</message>
			</mipay_pay>
		</payment>
	</default>
	<frontend>
		<routers>
			<mipay>
				<use>standard</use>
				<args>
					<module>Mipay_BasicPayment</module>
					<frontName>mipay</frontName>
				</args>
			</mipay>
		</routers>
	</frontend>
</config>